.section {
  width: 600px;
  margin: 0 auto;
  margin-top: 200px;
}

.accordion {
  width: 100%;
  height: max-content;

}

.accordion__element {}

.accordion__btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

}

.accordion__panel {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s;
  background: #dfdfdf;
}

.accordion__icon {
  transition: all 0.3s;
}

.accordion__btn.active .accordion__icon {
  transform: rotate(180deg);
}